<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <a href="<%= recipe_path(recipe) %>">
      <%= render partial: 'recipeCard', locals: { recipe: recipe } %>
    </a>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
