<header class="nav-container">
  <h2 class="nav-title">Recipes App</h2>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><%= link_to 'My Inventory', foods_path, class: "nav-link"%></li>
      <li class="nav-item"><%= link_to 'Public Recipes', public_recipes_path, class: "nav-link"%></li>
      <li class="nav-item"><%= link_to 'My Recipes', recipes_path, class: "nav-link"%></li>
      <li class="nav-item">Shopping List</li>
    </ul>
  </nav>
</header>