<header class="nav-container flex-row">
  <h2 class="nav-title">Recipes App</h2>
  <nav class="nav">
    <ul class="nav-list flex-row">
      <li class="nav-item"><%= link_to 'My Inventory', foods_path, class: "nav-link"%></li>
      <li class="nav-item"><%= link_to 'Public Recipes', public_recipes_path, class: "nav-link"%></li>
      <li class="nav-item"><%= link_to 'My Recipes', recipes_path, class: "nav-link"%></li>
      <li class="nav-item"><%= link_to 'Shopping List', general_shopping_list_path, class: "nav-link" %></li>
    </ul>
  </nav>
</header>